os                    # Built-in, não precisa ser listado no requirements.txt
datetime              # Built-in, não precisa ser listado no requirements.txt
timedelta             # Built-in, não precisa ser listado no requirements.txt
date                  # Built-in, não precisa ser listado no requirements.txt

yfinance==0.2.31      # Versão mais recente do pacote yfinance
numpy==1.25.2         # Versão mais recente do pacote numpy
requests==2.31.0      # Versão mais recente do pacote requests
crewai==0.1.8         # Versão mais recente do pacote crewai
python-dotenv==1.0.0  # Versão mais recente do pacote dotenv (python-dotenv)
langchain==0.0.308    # Versão mais recente do pacote langchain
langchain_openai==0.1.0  # Versão do pacote langchain_openai
langchain-community-tools==0.1.1 # Versão mais recente do pacote langchain_community.tools
streamlit==1.26.0     # Versão mais recente do pacote streamlit
pysqlite3-binary==0.4.5 # Versão mais recente do pacote pysqlite3-binary